<!doctype html>
<html ng-app="myApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="icon" type="image/png" href="resources/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="resources/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Synology photostation webapp album</title>
    <script>

/*
 * TODO: slideshow, click to view/download
 */

var parseQueryString = function(queryString) {
  var params = {};
  var queries = queryString.split('&');
  for (var i=0,l=queries.length; i<l; i++) {
    var temp = queries[i].split('=');
    params[temp[0]] = temp[1];
  }
  return params;
};
var stringifyQueryString = function(queryString) {
  var kv = [];
  for (var k in queryString) {
    kv.push(k+'='+String(queryString[k]));
  }
  return kv.join('&');
};

angular.module('myApp', []).controller('myController', function($scope) {

  // Local functions
  var pixel2int = function(str) { return parseInt(str.replace(/([0-9]*)px/,"$1")); }
  var ui = function(f) { $scope.$apply(f); }
  var browse = function(path) {
    path = path || "";
    $.ajax({
      url: "index.php?path="+path+"&token="+$scope.token,
      success: function(data) {
        ui(function() {
          $scope.objects.length = 0;
          $scope.objects.push.apply($scope.objects, data);
          $scope.page = 'list';
          $scope.offset = 0;
          $scope.path = decodeURI(path);
          window.scrollTo(0,0);
        });
      },
      dataType: 'json'
    });
  }

  // Load token if provided in the url or session storage
  var query = parseQueryString(location.search.slice(1));
  if (query.token) $scope.token = query.token;
  else             $scope.token = window.sessionStorage.getItem("token");

  // Refresh image width and overlay text width
  var padding = 2*pixel2int($("img.photo").css("padding"));
  var w0 = pixel2int($("img.photo").css("width"));
  var h0 = pixel2int($("img.photo").css("height"));
  setInterval(function() {
    var n = Math.floor($("body").width()/(w0+padding));
    if ($scope.n==1) n = 1;
    var w = Math.round($("body").width()/n);
    $(".crop").css({width:(w-padding)+"px"});
    $("img.photo").css({width:(w-padding)+"px",height:(w-padding)+"px"});
    $("img.nav").css({width:(w-padding)+"px",height:(w-padding)+"px"});
    if ($scope.n==1) {
      $("img.photo").css({height:"auto"});
    }    
  },100);

  // Listen to page hash change (that notifies list update request)
  window.addEventListener('hashchange',function() {
    browse(query.path);
    query = parseQueryString(location.search.slice(1));
    console.log(query);
  });

  // Define variables
  $scope.objects = [];
  $scope.offset = 0;
  $scope.limit = 24;
  $scope.n = 0; // 0 for multiple pictures per row, 1 to force to 1
  if (!$scope.token) {
    $scope.page = 'login';
  } else {
    browse(query.path);
  }
  $scope.update = function(path) {
    query.path = path;
    location.search = stringifyQueryString(query);
  }
  $scope.open = function(file,download) {
    //window.location.href = "index.php?target="+file+"&token="+$scope.token;
    window.open("index.php?target="+file+"&download="+download+"&token="+$scope.token);
  }
  $scope.login = function() {
    window.sessionStorage.setItem("token",$scope.token);
    browse(query.path);
  }
  $scope.logout = function() {
    window.sessionStorage.removeItem("token");
    $scope.page = 'login';
    $scope.token = null;
  }
  $scope.next = function(path) {
    $scope.offset += $scope.limit;
    window.scrollTo(0,0);
  }
  $scope.previous = function(path) {
    $scope.offset -= $scope.limit;
    window.scrollTo(0,document.body.scrollHeight);
  }
  $scope.basename = function(path) {
    return path?path.split(/[\\/]/).pop():null;
  }
  $scope.ceil = Math.ceil

}).filter('start', function () {
  return function (input, start) {
    if (!input || !input.length) { return; }
    start = +start;
    return input.slice(start);
  };
});

    </script>
  </head>
  <body>
    <div ng-controller="myController">
      <div ng-show="page=='login'" class="login">
        <h1>Welcome</h1>
        <input ng-model="token"></input><br />
        <button ng-click="login()">Login</button>
      </div>
      <div ng-show="page=='list'" class="list">
        <div class="banner">
          <div class="title">{{basename(path)}} <i>{{ceil(offset/limit+1)}} of {{ceil(objects.length/limit)}}</i></div>
          <img class="icon" src="resources/images/ic_exit_to_app_white_48dp_2x.png" ng-click="logout()"></img>
          <img class="icon" src="resources/images/baseline_view_stream_white_48dp.png" ng-show="n==0" ng-click="n=1"></img>
          <img class="icon" src="resources/images/baseline_view_module_white_48dp.png" ng-show="n==1" ng-click="n=0"></img>
        </div>
        <img ng-show="offset>0" class="nav" src="resources/images/baseline_keyboard_arrow_left_white_48dp.png" ng-click="previous()"></img>
        <div ng-repeat="o in objects | start: offset | limitTo: limit" class="container">
          <img src="resources/images/baseline_cloud_download_white_48dp.png" class="iconcloud" ng-if="o.type!='folder'" ng-click="open(o.path,1)">
          </img>
          <img class="photo" ng-src="index.php?target={{o.thumbnail}}&token={{token}}" ng-click="o.type=='folder' ? update(o.path) : open(o.path,0)"></img>
          <div ng-if="o.type=='folder'"><div class="crop">{{basename(o.path)}}</div></div>
        </div>
        <img ng-show="offset<objects.length-limit" class="nav" src="resources/images/baseline_keyboard_arrow_right_white_48dp.png" ng-click="next()"></img>
      </div>
      <div ng-show="page=='slideshow'">
        <img class="photo" sng-src="index.php?target={{o.thumbnail}}&token={{token}}" ng-click=""></img>
      </div>
    </div>
  </body>
</html>