body {
  background-color: #484848;
  color: white;
  font-family: Arial;
  padding: 0;
  margin: 0;
}
img.nav {
  width: 180px;
  height: 180px;
  padding: 0;
  margin-left: -2px;
}
img.photo {
  object-fit: cover;
  width: 180px;
  height: 180px;
  padding: 1px;
}
img.icon {
  float: right;
  width: 38px;
  padding-top: 2px;
}
img.iconcloud {
  position: relative;
  margin: 0px 0px -30px 6px;
  width: 30px;
  display: block;
}
.title {
  padding: 10px;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
}
.login {
  text-align: center;
}
.list {
  padding-top: 44px;
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  height: 42px;
  width: 100%;
  background-color: grey;
  border-bottom: solid lightgray 1px;
}
button {
  width: 100px;
  font-weight: bold;
  color: white;
  background-color: black;
}
input {
  width: 100px;
}
.container {
  display: inline-block;
  margin: -4px 0px -4px 0px;
}
.crop {
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -26px;
  padding-left: 4px;
  margin-right: -6px;
  padding-bottom: 4px;
}